# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#netbeans generated
Makefile
nbproject

#vim
*.swp
*.swo

#binary build folders
build
dist

#dunno
.dep.inc
